{% extends 'calcmain/base.html' %}
{% load staticfiles %}

{% block content %}

<div class = "container">

    <div class="title text-center">
        <h1 class="title title-introduction">Introduction to Application</h1>

        <div class="well well-intro div-centered">
            In recent oncology trials,
            <br>surrogate endpoints represented by progression-free survival and objective response rate
            <br>have gradually taken the primary role. These endpoints are imaging-based outcomes assessed
            <br>by <b>RECIST (Response Evaluation Criteria In Solid Tumors)</b> response categorization
            <br>according to the percent change of tumor burden before and after treatment.

        </div>
        <div class="well well-intro div-centered">
            The radiologic measurements of baseline and post-treatment tumor burden may be inconsistent between readings. This application estimate <b>how the objective response rate would vary due to the measurement variability when same or another radiologist re-assesses tumor response.</b>
        </div>

        <a class="btn btn-lg btn-info btn-main btn" href="{% url 'calcmain:dataimport' %}" role="button">START</a>
    </div>

</div>

{% endblock %}
