{% extends 'calcmain/base.html' %}
{% load staticfiles %}

{% block content %}

<div class = "container">

    <div class="title text-center">
        <h1 class="title title-main">Measurement variability calculator (RECIST 1.1)</h1>
        <a class="btn btn-lg btn-info btn-main btn" href="{% url 'calcmain:introduction' %}" role="button">NEXT</a>
    </div>

</div>

<!-- for announcing "Under construction" -->
<!--
<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
<div class="card">
<ul class="list-group">
<li class="list-group-item"><span class="glyphicon gly
phicon-tag"></span> <strong>Chocolate Cupcake</strong></li>
<li class="list-group-item"><span class="glyphicon gly
phicon-usd"></span> 3.00</li>
<li class="list-group-item"><span class="glyphicon gly
phicon-pencil"></span> John</li>
<li class="list-group-item"><span class="glyphicon gly
phicon-calendar"></span> 3rd June, 2015</li>
<li class="list-group-item">
<span class="glyphicon glyphicon-star"></span>
<span class="glyphicon glyphicon-star"></span>
<span class="glyphicon glyphicon-star"></span>
<span class="glyphicon glyphicon-star"></span>
<span class="glyphicon glyphicon-star"></span>
</li>
<li class="list-group-item">
<button type="button" class="btn btn-primary" data-t
oggle="modal" data-target="#myModal">
Order
</button>
</li>
</ul>
</div>
</div>
</div>
</div>

Modal
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"
aria-label="Close"><span aria-hidden="true">&times;</span></butt
on>
<h4 class="modal-title" id="myModalLabel">Chocolate Cupc
ake</h4>
</div>
<div class="modal-body">
Complete this website to get your Cupcake!
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismi
ss="modal">Close</button>
</div>
</div>
</div>
</div>
 -->


{% endblock %}
