{% extends 'calcmain/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container">

    <div class="title text-center">
        <h1 class="title title-main">Measurement variability calculator (RECIST 1.1)</h1>
        <a class="btn btn-lg btn-info btn-main" href="{% url 'calcmain:introduction' %}" role="button">NEXT</a>
    </div>

    <p class="main-subtitle">Development Team</p>

    <div class="row row-devinfo">
        <div class="col-md-4">
            <div class="contact_info">
                <p class="help-block">
                    <span class="dev-info"><b>Soon Ho Yoon</b></span><br>
                    <b>Assistant Professor</b><br><br>
                    Department of Radiology,<br>
                    Seoul National University<br>
                    College of Medicine<br><br>
                    <b>yshoka@gmail.com</b>
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="contact_info">
                <p class="help-block">
                    <span class="dev-info"><b>Jeong-Hwa Yoon</b></span><br>
                    <b>Ph.D.  Candidate</b><br><br>
                    Interdisciplinary Program<br>
                    in Medical Informatics,<br>
                    Seoul National University<br>
                    College of Medicine
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="contact_info">
                <p class="help-block">
                    <span class="dev-info"><b>Seokyung Hahn</b></span><br>
                    <b>Professor</b><br><br>
                    Department of Medicine,<br>
                    Seoul National University<br>
                    College of Medicine
                </p>
            </div>
        </div>
    </div>


    <p class="main-subtitle" style="margin-left: 42.5%; margin-top: 2.5%;">Release note</p>
    <p class="main-programmer">Programmer: Daeyeon Jo</p>

    <!-- The newer release note comes first -->
    <div class="row row-releaseInfo">
        <p class="release-info">Measurement variability calculator (RECIST 1.1) <b>version 1.0</b> is released. - March 14th, 2017</p>
        <p class="release-info">Measurement variability calculator (RECIST 1.1) <b>beta version</b> is released. - March 2nd, 2017</p>
    </div>
</div>

{% endblock %}
